table,td,tr,th{border-style:solid;
    border-width: thin;
    border-color: black;  }
tr:nth-of-type(even){background-color: lightgreen;}

tr:nth-of-type(2n+1){background-color: lightblue;}

th{background-color: white;}

.tdItalics{
    font-style: italic;
}

.tdRed{
    color:red;
}

.tdBlue{
    color:blue;
}

#divHeader{position: relative;
    left: 75px;
  background-color: white;
}

#trFooter{background-color: white}

#divPink{background-color: lightpink;
position: relative;
height: 50px;
width: 100%
}

#divBlue{background-color: lightblue;
position: relative;
left: 12.5%;
bottom: 37.5px;
width: 75%}

.listItem{tab-index: 0; }

ul{list-style-type: none;list-style-position: inside; margin: 0px; padding: 0px;}

li:nth-of-type(2n){padding-left: 40px; }


